* { margin:0; padding:0; }

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(rgba(196,102,0,0.6), rgba(155,89,182,0.6));
}

#msform {
  width:600px;
  margin:50px auto;
  text-align:center;
  position:relative;
}

#msform fieldset {
  background:white;
  border:0;
  border-radius:5px;
  padding:20px 30px;
  box-shadow:0 0 15px rgba(0,0,0,0.4);
  position:relative;
}

#msform fieldset:not(:first-of-type) {
  display:none;
}

#msform input,
#msform textarea {
  padding:12px;
  width:100%;
  margin-bottom:10px;
  border:1px solid #ccc;
  border-radius:4px;
}

.action-button {
  width:100px;
  background:#27AE60;
  color:white;
  border:none;
  padding:10px;
  cursor:pointer;
  margin:5px;
}

.action-button:hover {
  background:#219150;
}

#progressbar {
  margin-bottom:30px;
  overflow:hidden;
  counter-reset:step;
}

#progressbar li {
  list-style:none;
  float:left;
  width:16%;
  font-size:12px;
  text-transform:uppercase;
  position:relative;
  color:white;
}

#progressbar li:before {
  content:counter(step);
  counter-increment:step;
  width:20px;
  line-height:20px;
  display:block;
  font-size:10px;
  background:white;
  color:#333;
  border-radius:3px;
  margin:0 auto 5px auto;
}

#progressbar li.active:before {
  background:#27AE60;
  color:white;
}
